<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Utopian Poetry Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <section id="hero">
    <img src="{{ url_for('static', filename='images/utopia_bg.avif') }}">
    <div class="hero-content">
      <div class="intro">
        <blockquote>“Island where all becomes clear...”</blockquote>
        <p>An exploration of language, devices, and desire in <em>Utopia</em> by Wisława Szymborska.</p>
        <a href="#word-choice" class="scroll-btn">Discover Utopia ↓</a>
      </div>
    </div>
  </section>

  <section id="word-choice">
    <h2>Word Choice</h2>

    <div id="quote-container">
      <div class="word-quote word1">
        <blockquote>
          The Tree of Valid Supposition grows here with branches 
          <span>disentangled</span> 
          since time immemorial.
        </blockquote>
      </div>
      <div class="word-quote word2">
        <blockquote>
          The Tree of Valid Supposition grows here with branches disentangled since time 
          <span>immemorial</span>.
        </blockquote>
      </div>
      <div class="word-quote word3">
        <blockquote>
          Echoes stir 
          <span>unsummoned</span> 
          and eagerly explain all the secrets of the worlds.
        </blockquote>
      </div>
      <div class="word-quote word4">
        <blockquote>
          For all its charms, the island is 
          <span>uninhabited</span>, 
          and the faint footprints scattered on its beaches turn without exception to the sea.
        </blockquote>
      </div>
      <div class="word-quote word5">
        <blockquote>
          As if all you can do here is leave and plunge, never to return, into the depths. 
          <br>
          Into <span>unfathomable</span> life.
        </blockquote>
      </div>
    </div>

    <div class="hidden word-desc word1">
      <h4>nurture notes stuff</h4>
    </div>
    <div class="hidden word-desc word2"></div>
    <div class="hidden word-desc word3"></div>
    <div class="hidden word-desc word4"></div>
    <div class="hidden word-desc word5"></div>

    <div class="word-choice-container">
      <img src="{{ url_for('static', filename='images/tree.png') }}" class="tree-img" alt="Tree Illustration">
      <div class="word-cards-trigger">
        <div class="word-cards">
          <div class="word-card" id="word1-btn">Disentangled</div>
          <div class="word-card" id="word2-btn">Immemorial</div>
          <div class="word-card" id="word3-btn">Unsummoned</div>
          <div class="word-card" id="word4-btn">Uninhabited</div>
          <div class="word-card" id="word5-btn">Unfathomable</div>
        </div>
      </div>
    </div>
  </section>
 
  <section id="lit-devs">
    <h2>Literary Devices</h2>
  </section>

  <section id="genre">
    <h2>Utopian Genre</h2>
  </section>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
